<html>
    <head>
  <link rel="stylesheet"  href="static/css/stylesmap.css">

  <script src="static/script.js" defer></script>
    <!-- stamen html-->
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
 integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
 crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
 integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
 crossorigin=""></script>

      {% if title %}
      <title>{{ title }} - Map </title>
      {% else %}
      <title>Map</title>
      {% endif %}
    </head>

<body>

<header>
<h1 id="maptitle">The Curious Mansions of Riverside Drive</h1>
</header>

<aside>
  {% block sidebar %} {% endblock %}
</aside>

<main>

 {% block main %}{% endblock %}
</div>
</main>




    </body>
</html>
