{% extends "base.html" %}

{% block title %}
Map!!@@@@
{% endblock %}

{% block main %}
<div id="mapid"></div>

{% endblock %}

{% block sidebar %}

<div id="introduction">
  <h2>Welcome to the Lavish world of the Upper West Side</h2>
  <p>Welcome.</p>
</div>
<div id="schenasi" class="jqoptions">
 <img id="house" src="static/housepics/house.jpg">
<h2>Schenasi Mansion</h2>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus velit leo, egestas vel justo nec, rhoncus commodo dolor. Phasellus eu orci mi. Morbi ex libero, congue at aliquam vitae, pulvinar id tortor. Fusce suscipit ligula magna, in tristique nisl commodo non. Proin in odio diam. In non faucibus ipsum. Vestibulum maximus, odio vitae elementum accumsan, leo nisi semper sem, ut lobortis nibh urna blandit sapien. Aliquam ante lacus, fermentum ut augue eget, condimentum finibus ipsum. Integer fringilla, nibh in faucibus porttitor, urna nisi vehicula purus, nec porta lorem enim sit amet eros. Proin fringilla arcu ac arcu dapibus, eget elementum lectus aliquam.
</p>
</div>

<div id="rivermansion" class="jqoptions">
 <img id="house" src="static/housepics/house.jpg">
<h2>River Mansion</h2>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus velit leo, egestas vel justo nec, rhoncus commodo dolor. Phasellus eu orci mi. Morbi ex libero, congue at aliquam vitae, pulvinar id tortor. Fusce suscipit ligula magna, in tristique nisl commodo non. Proin in odio diam. In non faucibus ipsum. Vestibulum maximus, odio vitae elementum accumsan, leo nisi semper sem, ut lobortis nibh urna blandit sapien. Aliquam ante lacus, fermentum ut augue eget, condimentum finibus ipsum. Integer fringilla, nibh in faucibus porttitor, urna nisi vehicula purus, nec porta lorem enim sit amet eros. Proin fringilla arcu ac arcu dapibus, eget elementum lectus aliquam.
</p>
</div>

<div id="davis" class="jqoptions">
 <img id="house" src="static/housepics/house.jpg">
<h2>Borchardt House</h2>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus velit leo, egestas vel justo nec, rhoncus commodo dolor. Phasellus eu orci mi. Morbi ex libero, congue at aliquam vitae, pulvinar id tortor. Fusce suscipit ligula magna, in tristique nisl commodo non. Proin in odio diam. In non faucibus ipsum. Vestibulum maximus, odio vitae elementum accumsan, leo nisi semper sem, ut lobortis nibh urna blandit sapien. Aliquam ante lacus, fermentum ut augue eget, condimentum finibus ipsum. Integer fringilla, nibh in faucibus porttitor, urna nisi vehicula purus, nec porta lorem enim sit amet eros. Proin fringilla arcu ac arcu dapibus, eget elementum lectus aliquam.
</p>
</div>

 {% endblock %}
