@import "styles.css";

#mapid {
  height: 100vh;
  width: 100vw;
  /* sepia is for tinting one color - disable to go back to full color map*/
  filter:   sepia(0%) blur(0px) grayscale(0) opacity(1) hue-rotate(0deg);
  /* filter: invert(3%) sepia(100%) saturate(90%) hue-rotate(304deg) brightness(99%) contrast(101%); */
}
#house {
  width: 50%;
  border-radius: 50%;
  display: block;
margin-left: auto;
margin-right: auto;
}

#house:after {
    content: "";
border: 1px solid red;
}

#maptitle{
    text-decoration: underline;
    text-decoration-color: var(--color-2);
}

.jqoptions {
  display: none;
}

body {
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: 10vh auto;
  grid-gap: 0em;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}
aside{
display: flex;
flex-direction: column;
height: 100vh;
overflow: scroll;
border-right: 6px solid var(--color-1);
}

main{
/* position: fixed; */
}

header{
/* position: fixed; */
}

header{
  grid-column: 1 / span 2;
  background-image: url("marble.jpg");
  background-size: 2500px 2500px;
  background-repeat: repeat;
  box-shadow: 2px 2px 10px grey;
  z-index: 4;

}

aside{
  padding: 10px;
}

header{
  padding: 5px 20px;
/*  display: flex; */
}
